html {
    background: url("media/images/paper.jpg") repeat scroll 0 0 #F7F5F5;
}

body {
  padding-top: 60px;
}

.pin {
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  font-size: 11px;
  padding: 10px 10px 0;
  /*position: absolute;*/
  width: 300px;
  float: left;
  margin-top: 15px;
}

#wrapper {
    border: medium none;
    margin: 0 auto;
    min-width: 940px;
    position: relative;
    width: auto;
}

#container {
    margin: 0px auto 0 60px;
    min-height: 500px;
    position: relative;
}

.topbar div > ul, .nav {
    display: block;
    float: right;
    left: 0;
    margin: 10px 10px 0 0;
    position: relative;
}