<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>AV99</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="media/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        %include av100.css
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="media/images/favicon.ico">
    <link rel="apple-touch-icon" href="media/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="media/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="media/images/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="media/js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="media/js/jquery.infinitescroll.min.js"></script>
    <script type="text/javascript">
         %include av100.js
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">AV99</a>
            <ul class="nav">
                <li>
                    %include addthis.html
                </li>
            </ul>
        </div>
      </div>
    </div>

    <div id="wrapper" class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->

      <!-- Example row of columns -->
      <div id="container">
        %import random
        %r=random.randint(1,25)
        %i=1
        %for bottle in bottles:
            <div class="pin">
              <a class="PinImage ImgLink" href="{{ bottle.download }}">
                <img style="width: 300px;" src="{{ bottle.image }}">
              </a>
            </div>
            %if i==r:
            <div class="pin">
                %include adsense.html
            </div>
            %end
            %i+=1
        %end
      </div>
      <nav id="page-nav">
          <a href="2.html"></a>
      </nav>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
    %include analytics.html
  </body>
</html>
